.app {
  padding: 60px 20px;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;
}
.container {
  max-width: 950px;
  width: 100%;
  padding: 0px 10px 20px 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.conversation {
  max-width: 900px;
  width: 100%;
  max-height: 80dvh;
  overflow-y: scroll;
  font-size: 24px;
  padding: 0 10px;
}

.form {
  display: flex;
  align-items: flex-end;
  justify-content: center;  
  max-width: 900px;
  width: 100%;
  gap: 10px;
}

.form > label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form > label > span {
  padding-top: 10px;
}

.prompt {
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid lightgray ;
}
.waiting {
  height: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.waiting::after {
  animation: ellipsis steps(1,end) 1s infinite;
  content: "";
}

@keyframes ellipsis {
    0%   { content: ""; }
    50%  { content: "\275A"; }
    100% { content: ""; }
}