.modalContainer, .modalBackground {
	position: fixed; 
	top: 0;
	left: 0; 
	width: 100%; 
	height: 100%;
}
.modalContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.modalBackground {
	background-color: var(--background-hover);
	opacity: 0;
    transition: .3s ease-in;
}
.modalBackgroundOpen {
	opacity: 1;
}
.modalMain {
	min-width: 300px;
	min-height: 200px;
	border-radius: 10px;
	padding: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: var(--bg-all);
	opacity: 0;
    transform: scale(0);
    transition: opacity .1s ease-out, transform .3s ease-out;
	z-index: 1;
}
.modalMainOpen {
	opacity: 1;
    transform: scale(1);
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: .1s;
}
.title {
	margin: 0;
}
.children {
	flex: 1;
}
.controls {
	display: flex;
	flex-flow: row-reverse;
	gap: 10px;
}
.close {
	position: absolute;
	top: 5px;
	right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}
.close:hover {
    background-color: rgba(211, 211, 211, .3);
}
.ok {
	width: 80px;
	justify-content: center;
}