# TODO: Include exact versions
# Aerospike dependencies
aerospike-proximus==0.3.1

# Web Server 
fastapi
uvicorn[standard]
python-multipart

# Web Scraper
scrapy
scrapy-playwright

# RAG dependencies
llama-cpp-python==0.2.56
transformers
torch
einops